@inherits AppComponentBase

<div>
    @if (string.IsNullOrEmpty(message) is false)
    {
        <BitMessage Class="form-message-bar"
                    Severity="BitSeverity.Error"
                    OnDismiss="() => message = null">
            @message
        </BitMessage>
    }

    <BitTypography Variant="BitTypographyVariant.H2">
        @Localizer[nameof(AppStrings.ChangePasswordTitle)]
    </BitTypography>

    <br />

    @if (Loading)
    {
        <div class="loading-container">
            <BitSpinner Size="BitSpinnerSize.Large" Label="Loading..." LabelPosition="BitLabelPosition.Top"></BitSpinner>
        </div>
    }
    else
    {
        <EditForm Model="changeModel" OnValidSubmit="WrapHandled(ChangePassword)" class="change-email-form">
            <AppDataAnnotationsValidator />

            <div class="form-input-container">
                <BitTextField @bind-Value="changeModel.OldPassword"
                              Type="BitTextFieldType.Password"
                              Label="@Localizer[nameof(AppStrings.OldPassword)]"
                              Placeholder="@Localizer[nameof(AppStrings.PasswordPlaceholder)]" />
                <ValidationMessage For="@(() => changeModel.OldPassword)" />
            </div>

            <div class="form-input-container">
                <BitTextField @bind-Value="changeModel.NewPassword"
                              Type="BitTextFieldType.Password"
                              Label="@Localizer[nameof(AppStrings.NewPassword)]"
                              Placeholder="@Localizer[nameof(AppStrings.PasswordPlaceholder)]" />
                <ValidationMessage For="@(() => changeModel.NewPassword)" />
            </div>

            <div class="form-input-container">
                <BitTextField @bind-Value="changeModel.ConfirmPassword"
                              Type="BitTextFieldType.Password"
                              Label="@Localizer[nameof(AppStrings.ConfirmPassword)]"
                              Placeholder="@Localizer[nameof(AppStrings.PasswordPlaceholder)]" />
                <ValidationMessage For="@(() => changeModel.ConfirmPassword)" />
            </div>

            <BitButton IsLoading="isWaiting" ButtonType="BitButtonType.Submit">
                @Localizer[nameof(AppStrings.Submit)]
            </BitButton>
        </EditForm>
    }
</div>
